<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <form action="/registro" method="POST">
        <label for="campo1">Usuario:</label>
        <input type="text" id="campo1" name="campo1" required>
        <br><br>

        <label for="campo2">Senha:</label>
        <input type="password" id="campo2" name="campo2" required>
        <br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>